<%- include('partials/header.ejs'); %>
<script type="text/javascript">
</script>
<div>
  <h1>Add Discount Code</h1>
  <h5>Create a discount code in Shopify for a specific store, copy it's application link, paste the link below, and add a message. <br> 
  A QR code will be generated for your link and will show up in the invoice of your store as well as your message.</h5>
  <div class="ui form">
    <form method="post" action="/addDiscount" style="display: inline-block;">
      <div class="field" style="width: 400px;">
        <div class='ui input'>
          <input type="text" id="add_title" size="400" placeholder="Title" name="title[]" value="" required/>
        </div>
      </div>
      <div class="field" style="width: 400px;">
        <div class='ui input'>
          <input type="url" id="add_link" placeholder="Link" name="link[]" value="" required/>
        </div>
      </div>
      <div class="field" style="width: 400px;">
        <div class="ui input">
          <textarea id="add_message" placeholder="Message" name="message[]" value="" maxlength="300" required></textarea>
        </div>
        <div id="the-count">
          <span id="current">0</span>
          <span id="maximum">/ 300</span>
        </div>
      </div>
      <div class="field" style="width: 400px;">
        <label>Start Date</label>
        <div class="ui calendar" id="rangestart">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="Start" value="" name="start_date[]" required>
          </div>
        </div>
      </div>
      <div class="field" style="width: 400px;">
        <label>End Date</label>
        <div class="ui calendar" id="rangeend">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="End" value="" name="end_date[]" required>
          </div>
        </div>
      </div>
      <div class="field">
        <select class="ui dropdown" name="store" style="width: 400px;" required>
          <option value="">Store</option>
          <% rows.forEach(function(row){ %>
            <% if(row.country !=2){ %>
            <option value="<%- row.id %>"><%- row.name %></option>
            <% } %>
          <% }); %>
        </select>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" name="active[]">
          <label>Active</label>
        </div>
      </div>
      <br />
    <input type="submit" class="add_altered ui button" value="Submit" />
    <br />
    </form>
  </div>
</div>
<% if(rows2.length != 0){ %>
  <h3>Discounts Currently Available</h3>
  <% for (var i = 0;i < rows2.length;i++){ %>
    <div class="ui card" style="display: inline-block;">
      <div class="content">
        <div class="header inline"><%= rows2[i].title %></div>
        <div class="right floated inline"><a class="edit" data-id="<%= rows2[i].id %>" href="#">Edit</a></div>
      </div>
      <div class="content">
        <div class="description">
          <p><b>Link: </b><%= rows2[i].link %></p>
          <p><b>Active: </b><%= rows2[i].active %></p>
          <p><b>Message: </b><%= rows2[i].message %></p>
          <p><b>Start Date: </b><%= rows2[i].start_date %></p>
          <p><b>End Date: </b><%= rows2[i].end_date %></p>
        </div>
      </div>
    </div>
  <% } %>
    <% }else{ %>
    <p style="padding: 15px;">No discounts created.</p>
    <% } %>
    <% for (var i = 0;i < rows2.length;i++){ %>
      <div class="ui mini modal" id="modal-<%= rows2[i].id %>">
        <div class="header">
          Edit <%= rows2[i].name %> Discount
        </div>
        <div class="content">
          <form class="ui form" method="post" action="/editDiscountCode/<%= rows2[i].id %>">
            <div class="field">
              <label>Discount Message Name</label>
              <input type="text" name="[title]" value="<%= rows2[i].title %>">
            </div>
            <div class="field">
              <label>Discount Url</label>
              <input type="text" name="[link]" value="<%= rows2[i].link %>">
            </div>
            <div class="field">
              <label>Active</label>
              <input type="text" name="[active]" value="<%= rows2[i].active %>">
            </div>
            <div class="field">
              <label>Message</label>
              <textarea name="[message]" value="<%= rows2[i].message %>"></textarea>
            </div>
            <div>
              <a href="/deleteDiscount/<%= rows2[i].id %>">Delete Message</a>
            </div>
        </div>
        <div class="actions">
          <div class="ui negative button">
            Cancel
          </div>
          <button class="ui positive right labeled icon button" type="submit">
            Submit
            <i class="checkmark icon"></i>
          </button>
          </form>
        </div>
      </div>
    <% } %>
<script>
    $(function () {
    $("#test").click(function () {
      $(".test").modal('show');
    });
    $(".test").modal({
      closable: true
    });
    $(".edit").click(function (event) {
      var card_clicked = $(this).attr('data-id');
      $("#modal-" + card_clicked).modal('show');
    });
    $("#modal-" + card_clicked).modal({
      closable: true
    });
  });
    $('#rangestart').calendar({
      type: 'date',
      endCalendar: $('#rangeend')
    });
    $('#rangeend').calendar({
      type: 'date',
      startCalendar: $('#rangestart')
    });
    $('textarea').keyup(function() {
    
    var characterCount = $(this).val().length,
        current = $('#current'),
        maximum = $('#maximum'),
        theCount = $('#the-count');
      
    current.text(characterCount);
   
    
    /*This isn't entirely necessary, just playin around*/
    if (characterCount < 70) {
      current.css('color', '#666');
    }
    if (characterCount > 70 && characterCount < 90) {
      current.css('color', '#6d5555');
    }
    if (characterCount > 90 && characterCount < 100) {
      current.css('color', '#793535');
    }
    if (characterCount > 100 && characterCount < 120) {
      current.css('color', '#841c1c');
    }
    if (characterCount > 120 && characterCount < 139) {
      current.css('color', '#8f0001');
    }
    
    if (characterCount >= 140) {
      maximum.css('color', '#8f0001');
      current.css('color', '#8f0001');
      theCount.css('font-weight','bold');
    } else {
      maximum.css('color','#666');
      theCount.css('font-weight','normal');
    }
    
        
  });
</script>
<%- include('partials/footer.ejs'); %>